#nprogress .bar {
    background-color: #ea4a36 !important;
}

#nprogress .spinner-icon {
    border-top-color: #ea4a36 !important;
    border-left-color: #ea4a36 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ea4a36, 0 0 5px #ea4a36
}