<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="./js/vue.js"></script>
  </head>
  <body>
    <!-- 
        需求： 给姓和名的数据，
        5、watch监听
        watch监听，监听的是数据的变化（注意：是对已经存在的数据进行监听）

        1.函数写法
          lastName(newVal, oldVal){
             this.fullName = this.firstName + newVal
          }
        2.对象写法
          lastName: {
            handler(nval, oval) {
              this.fullName = this.firstName + nval;
            },
            //初始化实例的时候立即执行一次
            immediate: true, //立即执行

            deep: true, // 深度监听（一般用在对象上，对象深层的属性发生改变并且监听到，加deep）
          },
          
          在未开启深度监听 情况下
          监听对象，只有对象的地址发生变化才能监听到，对象中属性变化是监听不到的
          监听数组，数组中成员变化是可以监听到的（底层对数组进行过特殊处理）
          （需要知道数组在底层特殊处理过）

          重点：：
          methods和computed区别

     -->
    <div id="app">
      <div>{{firstName}}</div>
      <input type="text " v-model="firstName" />
      <div>{{lastName}}</div>
      <input type="text " v-model="lastName" />
      <div>{{fullName}}</div>
      <hr />
      <div>{{obj.name}}</div>
      <div>{{obj.age}}</div>
      <input type="text" v-model="obj.hobby[0]" />
      <div>{{obj.hobby[0]}}</div>
      <div>{{obj.hobby[1]}}</div>
      <div>{{obj.hobby[2]}}</div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          firstName: "尼古拉斯",
          lastName: "赵四",
          fullName: "",
          obj:{
            name:'张三',
            age:18,
            hobby:['唱','跳','rap']
          }
        },
        watch: {
          firstName(newVal, oldVal) {
            setTimeout
            this.fullName = newVal + this.lastName;
          },
          // 1.函数写法
          // lastName(nval,oval){
          //     this.fullName = this.firstName + nval
          // }
          // 2.对象写法
          lastName: {
            handler(nval, oval) {
              this.fullName = this.firstName + nval;
            },
            //初始化实例的时候立即执行一次
            immediate: true, //立即执行

            deep: true, // 深度监听（一般用在对象上，对象深层的属性发生改变并且监听到）
          },
          obj: {
            handler(nval, oval) {
              console.log("发生变化", nval);
            },
            deep: true,
          },
          // 有没有直接监听到 hobby[0]的内容改变
          // 直接监听即可
        //   这里主要想说明,属性名是可以写成"对象.属性"的形式
          "obj.hobby": {
            handler(nval, oval) {
              console.log(nval);
            },
          },
        },
      });
    </script>
  </body>
</html>
